{{ range $name, $value :=.Site.Params.follow }}
  {{ if and (eq $name "email") (eq $value.enable true) }}
    <a href="mailto:{{ $value.url }}" class="text-gray-600 hover:text-[--hs-text-color-hover] dark:text-gray-400 dark:hover:text-white">
      <svg class="size-4" aria-hidden="true" fill="currentColor" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M513 583.8l448.5-448.5c-11.6-4.7-24.3-7.3-37.5-7.3H100c-12.7 0-24.9 2.4-36.1 6.7L513 583.8z" p-id="88208"></path>
        <path
          d="M513 674.3L14.6 175.9C5.3 191.1 0 208.9 0 228v568c0 55.2 44.8 100 100 100h824c55.2 0 100-44.8 100-100V228c0-18.5-5.1-35.9-13.9-50.8L513 674.3z"
          p-id="88209"></path>
      </svg>
      <span class="sr-only">Email page</span>
    </a>
  {{ end }}

  {{ if and (eq $name "youtube") (eq $value.enable true) }}
    <a href="{{ $value.url }}" class="size-4" target="_blank">
      <img src="/brand-youtube.svg" alt="" />
    </a>
  {{ end }}

  {{ if and (eq $name "streetvoice") (eq $value.enable true) }}
    <a href="{{ $value.url }}" class="size-4 grayscale hover:grayscale-0" target="_blank">
      <img src="/streetvoice.ico" alt="" />
    </a>
  {{ end }}
{{ end }}

{{ partial "footer/hook_follow_me.html" . }}
